<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
<body>
<h2>Registration Form</h2>
<form action="\submit" method="post">
    <label>Enter Name</label>


    <input type="text" name="uname"><br><br>
    <label >Email ID:</label><br>
    <input type="email" name="email" ><br><br>

    <label>Select Year:</label><br>
    <select name="year" required>
        <option value="1">1</option>
        <option value="2">1</option>
        <option value="3">3</option> 
        <option value="4">4</option>
    </select><br><br>
    <button type="submit">Submit</button>
</form>

</body>
</html>